@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  /*   background: #E0F7FA; */
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  overflow: hidden;
  height: 100%;
  background-position: top left;
  background-size: auto 100%;
}
canvas {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#whole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#reefs {
  /*   width: 100%; */
  /*   height: 10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /*   margin-top: 5vh; */
}
#reefs svg {
  width: 20vw;
  mix-blend-mode: difference;
}

#studio {
  fill: green;
}

#reef path {
  fill: white;
}
section#soon {
  /*   width: 100vw;
  height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  font-size: 9vw;
  flex-grow: 5;
}

.tilt {
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

section#soon span {
  transition: font-weight 0.4s ease-in;
  animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  mix-blend-mode: difference;
}

section#soon span:nth-child(1) {
  animation-delay: 1s;
}
section#soon span:nth-child(2) {
  animation-delay: 2s;
}
section#soon span:nth-child(3) {
  animation-delay: 3s;
}
section#soon span:nth-child(4) {
  animation-delay: 4s;
}
section#soon span:nth-child(5) {
  animation-delay: 5s;
}
section#soon span:nth-child(6) {
  animation-delay: 6s;
}
section#soon span:nth-child(7) {
  animation-delay: 7s;
}
section#soon span:nth-child(8) {
  animation-delay: 3s;
}
section#soon span:nth-child(9) {
  animation-delay: 4s;
}
section#soon span:nth-child(10) {
  animation-delay: 6s;
}

section#soon span:hover {
  font-weight: 100;
}

section#email {
  font-weight: 300;
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#email a {
  color: #f7ff00;
  text-decoration: none;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-secondary {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 1vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes tilting {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}